{% extends "base.html" %} 
{% block content %}
<h1>Details</h1>


<div class="card">

    
        <div class="card-content">
            <div class="flex-container">
            <div>
                <span class="card-title"> {{dog.breed}} </span>
                <p>Description: {{dog.description}}</p>
                <p>Energy Level: {{dog.activity}}</p>

            </div>

            <div class="right">
                <img  width="100px" height="100px" src="{{dog.image}}" />
            </div>
            </div>
            <div class="card-action">
                <a href="{% url 'dogs_update' dog.id %}">Edit</a>
                <a href="{% url 'dogs_delete' dog.id %}">Delete</a>

            </div>
        </div>
     
</div>

{% endblock %}