{% extends "base.html" %} 
{% block content %}
<h1>Details</h1>


<div class="card">

    
        <div class="card-content">
            <div class="flex-container">
            <div>
                <span class="card-title"> {{dog.breed}} </span>
                <p>Description: {{dog.description}}</p>
                <p>Energy Level: {{dog.activity}}</p>

            </div>

            <div class="right">
                <img  width="100px" height="100px" src="{{dog.image}}" />
            </div>
            </div>
            <div class="card-action">
                <a href="{% url 'dogs_update' dog.id %}">Edit</a>
                <a href="{% url 'dogs_delete' dog.id %}">Delete</a>

            </div>
        </div>
     
</div>

<div>

    <form action="" method="post">

        {% csrf_token %}
        {{ walks_form.as_p }}
        <input type="submit" class="btn" value="Add Walk Time">



    </form>

    <table class="striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Walk time:</th>
            </tr>
        </thead>

        <tbody>
            {% for walks in dog.walks_set.all %}
                <tr>
                    <td>{{walks.date}}</td>
                    <td>{{walks.get_time_display}}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</div>


{% endblock %}