{% extends 'base.html' %}

{% block content %}
<h1>About the Dog Encyclopedia</h1>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex officiis dicta blanditiis eligendi amet atque quisquam nam quia sit. Sapiente exercitationem ipsum alias cupiditate laudantium, minima veniam ratione praesentium nihil, doloremque aspernatur eligendi facere architecto nobis eum suscipit officia. Molestias at illo perferendis. Neque perspiciatis aspernatur ea delectus voluptate voluptatem alias reprehenderit laudantium! Vel voluptatibus eius architecto deserunt dolorum debitis inventore neque maiores sit blanditiis optio in impedit illum eveniet consectetur recusandae ab iusto nulla amet hic, aperiam beatae perferendis. Sit maxime obcaecati, veniam, omnis voluptatum illo minima accusamus odit dolores laboriosam fuga ducimus et reprehenderit excepturi numquam explicabo amet?</p>
{% endblock %}